
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Our Blog</h1>
    <p>This site is about Movies and you can post descriptions about movies you have seen.</p>
    <nav>
        <a href="/Post/Index">Blog Index</a>
        <a href="/Tag/Index">Tag Index</a>
        <a href="/Genre/Index">Genre Index</a>
    </nav>

    <a href="/Post/Index">Go to Posts =></a>
</body>
</html>
