
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/HomePage.css" />
</head>
<body>
    <nav class="bar">
        <a href="/Post/Index">Blog Index</a>
        <a href="/Tag/Index">Tag Index</a>
        <a href="/Genre/Index">Genre Index</a>
    </nav>
    <h1>Welcome to Our Blog</h1>
    <p>This site is about Movies, you can post descriptions about movies you have seen.</p>
    <p>you can also review movies or add a movie for yourself!</p>
    <p>Click the link below to see what other people have posted</p>
    <p class="one"><a href="/Post/Index">Movie Posts =></a></p>
    <footer>&copy;Mike & Steven Mastery of MVC</footer>



    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Post/Index">Blog Index</a>
        <a href="/Tag/Index">Tag Index</a>
        <a href="/Genre/Index">Genre Index</a>
    </nav>




</body>
</html>
