@model IEnumerable<BlogMastery.Models.Genre>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/Deletet.css" />

</head>
<body>
    <nav>
        <a href="/Post/Index">Blog Index</a>
        <a href="/Tag/Index">Tag Index</a>
        <a href="/Genre/Index">Genre Index</a>
    </nav>
    <h1>Genres</h1>
    <div>

        <section >
            @foreach (var genre in Model)
            {

                <article>
                    <p class="one"><a href="/Post/Details">@genre.Name</a></p>
                </article>
            }
        </section>


    </div>
</body>
</html>
