
body {
  
    background-image: url(/Images/movie.jpg);
    background-size: cover;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
    padding: 2em;
}

.two{
  
    background-image:url(/Images/images.jpg);
    padding: 1em;
    margin:1em;
    margin-left:15em;
    margin-right:15em;
    border-radius:3em;
    
}

.one :visited{
    color:gold;
}

.one{
    font-size:2rem;
}

.one{
    color:gold;
}

nav :link{
    color:gold;
}

nav :visited{
    color:gold;
}
nav {
    background-image: url(/Images/images.jpg);
}

