@model IEnumerable<BlogMastery.Models.Post>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostIndex</title>
</head>
<body>
    <div>

        <section id="Post">
            @foreach (var post in Model)
            {

                <article>
                    <p><a href="/Post/Details/@post.Id">@post.Title</a></p>
                </article>
                <div>
                    <section id="Forms">
                        <form action="/Post/Delete" method="get">
                            <input type="submit" value="Add Delete" /><br>
                        </form>
                    </section>
                </div>
                <div>
                    <section id="Forms">
                        <form action="/Post/Edit" method="get">
                            <input type="submit" value="Add Edit" /><br>
                        </form>
                    </section>
                </div>
            }
        </section>

    <div>
        <section id="Forms">
            <form action="/Post/Create" method="get">
                <input type="submit" value="Add Post" /><br>
            </form>
        </section>
    </div>
    </div>
</body>
</html>
