@model IEnumerable<BlogMastery.Models.Post>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostIndex</title>
</head>
<body>
    <div>

    <section id="Post">
        @foreach (var post in Model)
        {

            <article>
                <p><a href="/Post/Details/@post.Id">@post.Title</a></p>
            </article>
        }
    </section>


    </div>
</body>
</html>
